body {
    margin: 0;
    padding: 0;
}


#bg {
        background-image: url("assets/images/seoul-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

i {
        color: white;
    }

.typed{
        color: white;
        font-size: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
}

.typed-cursor{    
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}


@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.ui.menu .item {
    font-weight: 300;
    font-size: 0.9rem;
}



#sec {
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    width: 80%;
    margin-top: -80px;
    padding: 200px 15px;
    color: white;
}

.column.starter {
    padding: 100px;
}